.wrapper {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f3ef;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_item {
    margin: 0 10px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: #333;
        width: 0;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #555;
    }
}
